.home-container {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 2em;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.scrollable-box {
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-box::-webkit-scrollbar {
    display: none;
}

.box-button {
    height: auto;
    margin-bottom: 2rem;
}

.add-topic-button {
    width: 150px;
    color: white;
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .home-container {
        flex-direction: column-reverse;
        padding: 1em;
    }

    .box-button {
        align-self: flex-start;
    }
}
