.css-13d1tkw {
    background-color: rgba(0, 0, 0, 0.438); 
}

.modal_content {
    background-color: #fff;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 500px;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(116, 116, 116, 0.267);
    transform: translateY(-50%);
}

.modal_header {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}

.modal_body {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal_label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.modal_button_save, .modal_button_cancel {
    width: 100px;
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    font-weight: 600;
}

.modal_button_save {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

.modal_button_save:hover {
    background-color: #45a049;
}

.modal_button_cancel {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s;
}

.modal_button_cancel:hover {
    background-color: #e53935;
}

